.header {
  background: linear-gradient(45deg, #536976, #292e49);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: 10px 50px;
}